go 1.20

use (
	./builder
	./pkg/canary
	./cmd/lambda_user
	./internal/tracer
	./test/integration_test_harness
	./internal/base_aws
	./pkg/request_log
	./internal/user_repository
	./internal/user_repository_ddb
	./internal/utils
)
