go 1.20

use (
	./aiprompt
	./badwords
	./badwords_embeddings
	./builder
	./canary
	./deployments/aws/lambda_keep
	./deployments/aws/lambda_moat
	./deployments/aws/lambda_wall
	./embeddings
	./keep
	./moat
	./pii
	./pii_aws
	./wall
	./integration_test_harness
)
