go 1.20

use (
	./internal/aiprompt
	./internal/badwords
	./internal/badwords_embeddings
	./builder
	./pkg/canary
	./cmd/lambda_keep
	./cmd/lambda_moat
	./cmd/lambda_wall
	./internal/embeddings
	./internal/keep
	./internal/moat
	./internal/pii
	./internal/pii_aws
	./internal/wall
	./test/integration_test_harness
	./internal/base_aws
	./pkg/request_log
	./internal/tracer
)
